.site-header {
	padding: 0 0;
	border: none;
	border-bottom: rem(4px) solid $yellow;
	.navbar {
		position: relative;
		margin: 0 0 0 0;
		border-radius: 0;
		border: none;
		background-color: $blue;
		height: auto;
		transition: all 0.5s;
		
		// Scrolled menu styles
		&.scroll_menu {
			position: fixed;
			top: 0;
			left: 0;
			box-shadow: 0 0 rem(12px) $blue-dk;
			width: 100%;
			background-color: $white;	
			z-index: 999;
			// Stycky logo
			.navbar-brand {
				h1 {
					margin: rem(5px) 0;
					transition: all 0.3s;
					@include iconBg('../images/brand/logo.svg');
				}
			}
			.navbar {				
				&-collapse {
					ul {
						&.navbar-nav {
							> li {
								> a {
									color: $blue-dk;
								}
							}
						}
						// cart							
						&.site-header-cart {
							.cart-contents {
								.count {
									color: $blue;
								}
								&::after {
									color: $blue;
								}
							}						
							@include mq('sm') {
								color: $blue-dk;
								a {
									color: $blue-dk;
								}
							}
						}
					}	
				}
			}
		}

		// Button
		&-toggle {
			float: none;
			border: none;
			@include mq('sm') {
				display: none;
			}
			span {
				&.icon-bar {
					background-color: $white;
					height: rem(3px);
				}
			}
		}

		// desktop layout fix
		.row-header {
			@include wrapper;
			@include mq('sm') {				
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 rem(35px);
			}
		}

		&-header {
			width: 100%;
			float: none;
			display: flex;
			flex-direction: row-reverse;
			@include mq('sm') {
				flex-direction: initial;
				flex-wrap: wrap;
				justify-content: space-between;
			}	
		}

		&-brand {
			float: none;
			padding: 0 0;
			margin: 0 0;
			height: auto;
			font-size: 0;
			flex-grow: 2;
			@include mq('sm') {
				margin-left: 0 !important;
			}
			h1 {
				padding: 0 0;
				margin: rem(10px) 0;
				font-size: 0;
				width: rem(120px);
				height: rem(70px);
				@include iconBg('../images/brand/logo-white.svg');
				@include mq('md') {					
					width: rem(118px);
					height: rem(90px);
				}
			}
		}

		&-collapse {
			float: none;
			padding: rem(16px) rem(20px) rem(30px);
			@include mq('sm') {
				min-width: 80%;
				padding: initial;
				display: flex !important;
				flex-wrap: wrap;
				justify-content: flex-end;
				align-items: center;
			}
			// Menu
			ul {
				&.navbar-nav {
					@include mq('sm') {
						float: none;
						margin: 0 rem(45px);
					}
					> li {
						@include mq('sm') {
							display: inline-block;
						}
						> a {
							color: $white;
							@include font(18px);
							&:hover,
							&:focus {
								color: $white;
								background-color: transparent;
							}
						}
						&.active {				
							a {								
								background-color: transparent;
							}					
						}
						&:hover {
							color: $white;
							.dropdown-menu {
								@include mq('sm') {
									display: block;
								}
							}
						}
						.dropdown-menu {
							padding: 0 0;
							margin: 0 0;
							li {
								display: block;
								width: 100%;
								background-color: $blue;
								color: $white;
								float: none;
								img {
									float: none;
								}
								a {
									float:none;
									color: $white;
									padding: rem(16px);
									&:hover {
										color: $yellow;
									}
								}
								&.active {
									a {
										background-color: $blue-dk;
										color: $white;
									}
								}								
							}
						}

						// Shop mega menu
						&.shop-menu {
							&:hover {
								.dropdown-menu {
									@include mq('sm') {
										min-width: rem(500px);
										display: flex;
										flex-wrap: wrap;
									}
								}
							}
							.dropdown-menu {
								background-color: $white;
								float: none;
								border: none;
								box-shadow: 0 0 rem(12px) $gray;
								li {
									background-color: $white;
									@include mq('sm') {
										text-align: center;
										width: 33.3%
									}
									&.menu {
										&__balets,
										&__bags,
										&__ecobags {
											a {
												display: flex;
												flex-wrap: wrap;
												align-items: center;
												@include mq('sm') {
													display: block;
												}
												img{
													width: 35%;
													height: auto;
													@include mq('sm') {
														margin: 0 auto rem(5px);
														max-width: 100%;
														width: auto;
														display: block;
													}
												}
												span {
													width: 60%;
													color: $blue-dk;
													@include mq('sm') {
														padding: 0 0;
														display: block;
														text-align: center;
														width: 100%;
													}													
												}
												&:hover {
													background-color: $yellow;
													span {
														color: $blue;
													}
												}
											}
											&.active {
												a {
													span {
														color: $white;
													}
												}
											}		
										}
									}									
								}
							}
						}
					}
				}

				// cart
				&.site-header-cart {
					float: none;
					width: 100%;
					@include mq('sm') {
						width: 15%;
						color: $white;
						a {
							color: $white;
						}
					}
					.cart-contents {
						&::after {
							color: $white;
						}
						.count {
							color: $white;
							opacity: 1;
						}

						.amount {
							display: none;
						}

						@include mq('sm') {
							padding: 0 rem(16px) rem(10px);
						}
					}
					&:hover {
						.widget {
							&.widget_shopping_cart {
								display: block;
							}
						}
					}

					// Cart block;
					.widget {						
						&.widget_shopping_cart {
							display: none;
							left: rem(-45px);
							min-width: rem(250px);
							a {
								color: $blue;
							}
						}
						.woocommerce-mini-cart__buttons {
							.wc-forward {
								background-color: $blue;
								color: $white;
							}
						}
					}
				}
			}
		}
	}
}

// Social menu
.menu-social {
	max-height: rem(40px);
	&--social {
		text-align: center;
		padding: 0 0;
		margin: 0 0;
		li {
			display: inline-block;
			vertical-align: middle;
			margin: rem(12px) rem(5px);
			@include mq('sm') {
				margin: 0 rem(5px);
			}
			a {
				display: block;
				width: rem(35px);
				height: rem(35px);
				background-color: $blue-dk;
				border-radius: 100%;
				&:hover {
					background-color: $yellow;
				}
			}
			&.fb {
				a {
					@include iconBg('../images/icons/facebook.svg', 55%);
				}				
			}
			&.ins {
				a {
					@include iconBg('../images/icons/instagram.svg', 55%);
				}				
			}
			&.wht {
				a {
					@include iconBg('../images/icons/whatsapp.svg', 55%);
				}				
			}
		}
	}
}