//--  Fonts --//

$bd: 'Open Sans Bold';
$rg: 'Open Sans';
$it:'Open Sans Italic';
$lt:'Open Sans Light';
$bd-it:'Open Sans Bold Italic';


// -- Colors -- //

$white:   #ffffff;
$black:   #000000;
$gray:    #cccccc;
$gray-lt: #DEDEDE;
$gray-a7: #a7a7a7;
$gray-d8: #D8D8D8;

// Brand colors
$blue:     #282d47;
$blue-lt:  #c7ecfd;
$blue-dk:  #101c85;